.button {
    background-color: #ffffff;
    background-position: 0% 0%;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    margin: 0;
    padding: 0 10px 5px 10px;
    display: inline-block;
    transform: none;
    transition: opacity 0.2 ease-in-out 0s;
    /* outline:  rgb(220, 76, 62) none 0px; */
    outline:  #FF004D none 0px;
    box-sizing: border-box;
    text-align: left;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 800;
    word-spacing: 0px;
    border: none;
    color: #1D2B53;
}

.containerButton {
    margin-top: 10px;
    margin-left: auto;
    padding: 0 10px 5px 10px;
    align-items: end;
    display: flex;
    justify-content: start;
}

.addButton {
    margin-left: 10px;
    margin-top: 3px;
}


.cancelButton {
    margin:4px;
    padding:4px 8px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    background-color: #D31C1C;
    color: #ffffff;
    cursor: pointer;
} 

.cancelButton:hover {
    /* background-color: rgb(161, 4, 4); */
    background-color: #f1e100;
}
    
.submitButton {
    margin:4px;
    padding:4px 8px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    background-color: #1CD3C7;
    color: #ffffff;
    cursor: pointer;
}

.submitButton:hover {
    /* background-color: rgb(0, 131, 122); */
    background-color: #81052a;
}

.button:hover {
    opacity: 0.8;
    /* color: #DC4C3E; */
    color: #FF004D;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 0;
    width: 50%;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4px;
}

.inputTitle {
    margin:4px;
    width: 100%;
    padding:4px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

.inputTitle:hover {
    outline-offset: initial;
    outline: dashed;
    outline-color: #7E2553;
}

.inputDescription {
    margin:4px;
    padding:4px;
    width: 100%;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

.inputDescription:hover {
    outline-offset: initial;
    outline: dashed;
    outline-color: #7E2553;
}

.inputLabel {
    margin:4px;
    padding:4px;
    width: 100%;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

.inputDate {
    margin:4px;
    padding:4px;
    width: 100%;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

@media (max-width:700px) {
    .input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px 10px 10px;
        width: 100%;
    }
    
    .container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2px;
        margin: 2px;
    }
}