.button {
    background-color: var(--white);
    background-position: 0% 0%;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    margin: 0;
    padding: 0 10px 5px 10px;
    display: inline-block;
    transform: none;
    transition: opacity 0.2 ease-in-out 0s;
    outline:  var(--magenta) none 0px;
    box-sizing: border-box;
    text-align: left;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 800;
    word-spacing: 0px;
    border: none;
    color: var(--blue);
}

.containerButton {
    margin-top: 10px;
    margin-left: auto;
    padding: 0 10px 5px 10px;
    align-items: end;
    display: flex;
    justify-content: start;
}

.addButton {
    margin-left: 10px;
    margin-top: 3px;
}


.cancelButton {
    margin:4px;
    padding:4px 8px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    background-color: var(--cream);
    color: var(--magenta);
} 

.cancelButton:hover {
    background-color: var(--yellow);
}
    
.submitButton {
    margin:4px;
    padding:4px 8px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    background-color: var(--magenta);
    color: var(--cream);
}

.submitButton:hover {
    background-color: var(--red);
}

.button:hover {
    opacity: 0.8;
    color: var(--magenta);
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 0;
    width: 50%;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4px;
}

.inputTitle {
    margin:4px;
    width: 100%;
    padding:4px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

.inputTitle:hover {
    outline-offset: initial;
    outline: dashed;
    outline-color: var(--purple);
}

.inputDescription {
    margin:4px;
    padding:4px;
    width: 100%;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

.inputDescription:hover {
    outline-offset: initial;
    outline: dashed;
    outline-color: var(--purple);
}

.inputLabel {
    margin:4px;
    padding:4px;
    width: 100%;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

.inputDate {
    margin:4px;
    padding:4px;
    width: 100%;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

@media (max-width:700px) {
    .input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px 10px 10px;
        width: 100%;
    }
    
    .container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2px;
        margin: 2px;
    }
}