.taskCard {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 280px;
}
  
.taskCard h3 {
   color: #333;
}
  
.taskCard p {
  color: #666;
}
.taskCardContent {
  font-weight: bold;
  text-align: left;
  padding-bottom: 5px;
  justify-content: center;
  align-items: center;
}
.taskCardContent img {
  max-width: auto;
  height: auto;
  margin-top: 10px;
}

.taskCardButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.taskCardButton {
  background-color: rgb(62, 76, 197);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 217, 0);
  font-size: 10px;
  font-weight: 300;
  padding: 4px 8px;
  border-radius: 20px;
  margin-left: 5px;
}

.inProgressButton {
  background-color: rgb(255, 217, 0);
  color: rgb(62, 76, 197);
}