.navbar {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(31 41 55);
    display: inline-block;
    width: 100%;
    height: 3rem;
    padding: 10px
}

.container {
    width: 100%;
    max-width: 72rem;
    margin: 0 auto;
    shape-margin: 8px;
}

.flex {
    display: flex;
    /* font-size: 16px; */
    align-items: center;
    justify-content: start;
    width: 100%;
    /* align-items: stretch;
    justify-content: start; */
}

.hidden {
    display: inline;
    gap: 8px;
    align-items: center;
    /* float: left */
}

.flexSpace {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.buttonNavbar {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    float: left;
    transition: background-color 0.3s ease;
    border-radius: 6px;
}

.buttonNavbar:hover {
    background-color: #111;
    color: white;
    border-radius: 6px
}

/* garis untuk navbar */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;

}

.hamburgerLine {
    height: 2px;
    background: white;
    margin: 3px;
    width: 25px;
}

.showMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-width: 700px) {
    .hidden {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .hamburger {
        display: flex;
    }

    .showMenu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}